body{
    background-color: #EEE;
}

.transparent-input{
    margin: 2px 0 -2px 0;
    width:85px;
    display:inline-block;
    overflow:hidden;
    position:relative;
    background:#fff;
}

#control-tab{
    width: 230px;
    float: left;
}

#control-tab .buttons{
    background-color: #FFF;
    text-align: center;
}

#character-sheet{
    width: 900px;
    float: left;
    border: 3px double black;
    margin: 0 30px;
    background-color: #FFF;
}

#character-sheet h1{
    font-size: 20px;
    margin: auto;
    text-align: center;
}

#character-sheet input{
    padding:0;
    margin:0;
    font-size:16px;
    font-style:italic;
    border:none;
    outline:none;
    background:transparent;
}

#character-sheet input::-webkit-input-placeholder{
    color: black;
}
#character-sheet input::-moz-placeholder{
    color: black;
}
#character-sheet input:-ms-input-placeholder{
    color: black;
}
#character-sheet input:-moz-placeholder{
    color: black;
}

#character-sheet select{
    font-size:16px;
    font-style:italic;
    text-indent: 10px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    position:relative; z-index:2;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

#character-sheet select:focus{
    box-shadow: inset 0 0 5px gray ;
}

#character-sheet select option:first-child{
    display: none;
}

#character-sheet .text-input{
    font-size: 16px;
    font-style: italic;
    font-family: arial;
}

#meta select{
    width: 125px!important;
}

#character-sheet h2{
    font-size: 16px;
    margin: auto;
    text-align: center;
}

#character-sheet hr{
    padding: 0;
    border: none;
    border-top: thick double #333;
    color: #333;
    text-align: center;
}

#character-sheet hr.with-text{
    margin-bottom: -10px;
}

#character-sheet hr:after {
    display: inline-block;
    position: relative; 
    top: -0.5em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#character-sheet select{
    width: 125px;
}

#meta input{
    width: 125px;
}

#divisor-atributos:after{
    content: "Atributos";
}

#divisor-habilidades:after{
    content: "Habilidades";
}

#divisor-vantagens:after{
    content: "Vantagens";
}

#divisor-outras-caracteristicas:after{
    content: "Outras Caracteristicas";
}

#divisor-combate:after{
    content: "Combate";
}

#divisor-caminho:after{
    content: "Caminho";
}

#divisor-forca-de-vontade:after{
    content: "Forca de Vontade";
}

#divisor-pontos-de-sangue:after{
    content: "Pontos de Sangue";
}

.attr-group, #vantagens, #footer{
    overflow: hidden;
    margin-left: 5%;
}

.attr-group section, #vantagens section, #footer .col{
    float: left;
    width: 30%;
    margin: 0 5px;
}

.col hr{
    margin-top: 20px;
}

.attr-group div, #virtudes div, #disciplinas div, #antecedentes div{
    display: table-row;
}

.attr-group label, #virtudes label, #disciplinas label, #antecedentes label, .text-input-placeholder{
    display: table-cell;
    min-width: 125px;
}

#virtudes input{
    width: 30px;
}

#outras-caracteristicas{
    margin-bottom: 10px;
}

#outras-caracteristicas input {
    width:100%;
    border-bottom: solid 1px black;
}

#caminho, #forcaDeVontade, #sangue, #experiencia{
    text-align: center;
}

#caminho .nome-caminho{
    width: 70%;
    margin: auto;
}

#combate .text-input{
    border: none;
}

#combate .text-input-placeholder{
    min-width: 82px;
}

#combate input, #combate select{
    width: 80px;
    border: none;
}

#combate table{
    border-width: 0;
    border-collapse: collapse;
}

#combate table td, #combate table th{
    border: solid 1px;
    min-height: 50px;
}

#combate table th:first-child{
    border: none;
}

.load-file input{
    display: none;
}

.load-file label{
    display: inline-block;
}

.icon{
    width: 18px;
    height: 18px;
    border: 0;
    border-top: 2px;
    cursor: pointer
}

.icon-med{
    width: 48px;
    height: 48px;
    border: 0;
    border-top: 2px;
    cursor: pointer;
}

.icon-filled{
    background: url(../img/icon-filled.png);
}

.icon-empty{
    background: url(../img/icon-empty.png);
}

.icon-square-filled{
    background: url(../img/icon-square-filled.png);
}

.icon-square-empty{
    background: url(../img/icon-square-empty.png);
}

.icon-check{
    background: url(../img/icon-check.png);
}

.icon-cross{
    background: url(../img/icon-cross.png);
}

.icon-plus{
    background: url(../img/icon-plus.png);
}

.icon-med-save{
    background: url(../img/icon-med-save.png);
}

.icon-med-save-all{
    background: url(../img/icon-med-save-all.png);
}

.icon-med-new{
    background: url(../img/icon-med-new.png);
}

.icon-med-open{
    background: url(../img/icon-med-open.png);
}