body{
    background-color: #EEE;
}

#control-tab{
    width: 230px;
    float: left;
}

#control-tab .buttons{
    background-color: #FFF;
    text-align: center;
}

#character-sheet{
    width: 900px;
    float: left;
    border: 3px double black;
    margin: 0 30px;
    background-color: #FFF;
}

#character-sheet h1{
    font-size: 20px;
    margin: auto;
    text-align: center;
}

#character-sheet h2{
    font-size: 16px;
    margin: auto;
    text-align: center;
}

#character-sheet hr{
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

#character-sheet hr.with-text{
    margin-bottom: -10px;
}

#character-sheet hr:after {
    display: inline-block;
    position: relative; 
    top: -0.5em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#character-sheet select{
    width: 125px;
}

#character-sheet .text-input{
    font-family: arial;
    font-style: italic;
}

#divisor-atributos:after{
    content: "Atributos";
}

#divisor-habilidades:after{
    content: "Habilidades";
}

#divisor-vantagens:after{
    content: "Vantagens";
}

.attr-group, #vantagens, #footer{
    overflow: hidden;
    margin-left: 5%;
}

.attr-group section, #vantagens section, #footer .col{
    float: left;
    width: 33%;
}

.attr-group div, #virtudes div, #disciplinas div, #antecedentes div{
    display: table-row;
}

.attr-group label, #virtudes label, #disciplinas label, #antecedentes label, .text-input-placeholder{
    display: table-cell;
    min-width: 125px;
}

#virtudes input{
    width: 30px;
}

#caminho, #caminho .text-input, #forcaDeVontade, #sangue, #experiencia{
    text-align: center;
}


.load-file input{
    display: none;
}

.load-file label{
    display: inline-block;
}

.icon{
    width: 18px;
    height: 18px;
    border: 0;
    border-top: 2px;
    cursor: pointer
}

.icon-med{
    width: 48px;
    height: 48px;
    border: 0;
    border-top: 2px;
    cursor: pointer;
}

.icon-filled{
    background: url(../img/icon-filled.png);
}

.icon-empty{
    background: url(../img/icon-empty.png);
}

.icon-square-filled{
    background: url(../img/icon-square-filled.png);
}

.icon-square-empty{
    background: url(../img/icon-square-empty.png);
}

.icon-check{
    background: url(../img/icon-check.png);
}

.icon-cross{
    background: url(../img/icon-cross.png);
}

.icon-plus{
    background: url(../img/icon-plus.png);
}

.icon-med-save{
    background: url(../img/icon-med-save.png);
}

.icon-med-save-all{
    background: url(../img/icon-med-save-all.png);
}

.icon-med-new{
    background: url(../img/icon-med-new.png);
}

.icon-med-open{
    background: url(../img/icon-med-open.png);
}